name: 'Update version'
on: 
  workflow_dispatch:
  schedule:
  - cron: '30 * * * *'

jobs:
  publish:
    runs-on: ubuntu-latest
        
    steps:
    - name: Update
      run: |
        ls -la
        sudo snap install jq
        VERSION=$(curl 'https://hub.docker.com/v2/repositories/simplonasa/azure_voting_app/tags' | jq '."results"[0]["name"]' | sed 's/"//g; s/}//g')
        sed -i "s/@VERSION_APP@/$VERSION/" voting-app-model.yml
        kubectl apply -f voting-app-model.yml
